@model StackOverflow.Web.Models.PasswordDisplayModel

@{
    ViewBag.Title = "PasswordDisplay";
}

<h2>PasswordDisplay</h2>

<div>
    <h4>PasswordDisplayModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <div class="col">
            <font size="4"><u><b>YOUR PASSWORD IS:</b></u></font>
            <div>@Html.TextBoxFor(model => model.Password, new {@readonly = true})</div>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
